
  
  
    <form (ngSubmit)="onLogin()">
      <label for="role">Login as:</label>
      <select [(ngModel)]="role" name="role" required>
        <option value="admin">Admin</option>
        <option value="vendor">Vendor</option>
        <option value="customer">Customer</option>
      </select>
    
      <br />
    
      <label for="username">Username:</label>
      <input [(ngModel)]="username" name="username" placeholder="Username" required />
    
      <br />
    
      <label for="password">Password:</label>
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required />
    
      <br />
    
      <button type="submit">Login</button>
    </form>
    