
<div [ngStyle]="{ 'background-image': 'url(' + backgroundUrl + ')' }" class="background-container">
 
  <div class="home-container">
    <div class="hero-section">
      <div class="overlay">
        <h1>Welcome to Jewels</h1>
        <p>Timeless elegance in every piece.</p>
        <button class="shop-now-btn" (click)="navigateToProducts()">Explore Collection</button>

      </div>
    </div>
  
    <section class="about-section">
      <h2>About Us</h2>
      <p>Jewels brings you handcrafted jewellery with a legacy of trust and beauty. Explore our gold, diamond, and bridal collections.</p>
    </section>
  </div>
  